/* Magic Mirror
 * CSS: MMM-RBB-Weather
 *
 * By Nikolai Keist (github.com/nkl-kst)
 * MIT Licensed.
 */

/*
 * #####   Current data  #####
 */

.current {
    margin-bottom: 10px;
}

.current .weather-icon {
    left: 10px;
    margin-top: -40px;
    margin-left: -40px;
    position: relative;
    top: 20px;
    width: 100px;
}

/* RBB icons need slightly different positioning */
.current .weather-icon[src*='www.rbb24.de'] {
    left: -10px;
    position: relative;
    top: 25px;
}


/*
 * #####   Table data   #####
 */

.weather-table td {
    height: 1.5em;
    text-align: right;
}

.weather-table td:not(:last-child) {
    padding-right: 0.6em;
}

.weather-table .day {
    text-align: center;
}

.weather-table .weather-icon {
    background-position: 0.2em;
    background-repeat: no-repeat;
    background-size: 2em;
    width: 2.2em;
}

.weather-table .wind {
    padding-top: 0.2em;
}

.weather-table .wind > span {
    font-size: 0.5em;
    font-style: italic;
}

/* Icon size */
.weather-table .fas {
    font-size: 0.8em;
}


/*
 * #####   White icons   #####
 */

.white .weather-icon {
    filter: brightness(0) invert(1);
}
