/* Magic Mirror
 * CSS: MMM-RBB-Weather
 *
 * By Nikolai Keist (github.com/nkl-kst)
 * MIT Licensed.
 */

/*
 * #####   Current data  #####
 */

div.current {
    margin-bottom: 10px;
}

div.current img.weather-icon {
    position: relative;
    top: 20px;
    margin-top: -40px;
    left: 10px;
    width: 100px;
}


/*
 * #####   Table data   #####
 */

table.weather-table td {
    height: 1.5em;
}

table.weather-table td:not(:last-child) {
    padding-right: 0.6em;
}

table.weather-table td.day {
    text-align: center;
}

table.weather-table td.weather-icon {
    background-position: 0.2em;
    background-size: 2em;
    background-repeat: no-repeat;
    width: 2.2em;
}

table.weather-table td.wind {
    padding-top: 0.2em;
}

table.weather-table td.wind > span {
     font-size: 0.5em;
     font-style: italic;
}


/*
 * #####   White icons   #####
 */

div.white img.weather-icon,
table.weather-table td.weather-icon  {
    filter: brightness(0) invert(1);
}
